<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyr.busticketsystemdemo.dao.mapper.AnnouncementMapper">

    <resultMap id="BaseResultMap" type="com.lyr.busticketsystemdemo.domain.Announcement">
            <id property="announcementId" column="announcement_id" />
            <result property="title" column="title" />
            <result property="content" column="content" />
            <result property="publishTime" column="publish_time" />
    </resultMap>

    <sql id="Base_Column_List">
        announcement_id,title,content,publish_time
    </sql>

    <select id="searchAnnouncements" resultMap="BaseResultMap">
        SELECT  <include refid="Base_Column_List" />
        FROM announcement
        WHERE 1=1
        <if test="title != null and title != ''">
            AND title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="publishTime != null">
            AND publish_time BETWEEN CONCAT(#{publishTime}, ' 00:00:00')
            AND CONCAT(#{publishTime}, ' 23:59:59')
        </if>
    </select>

</mapper>
