<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyr.busticketsystemdemo.dao.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.lyr.busticketsystemdemo.domain.Message">
            <id property="messageId" column="message_id" />
            <result property="userId" column="user_id" />
            <result property="content" column="content" />
            <result property="replyId" column="reply_id" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        message_id,user_id,content,reply_id,create_time
    </sql>

    <select id="searchMessages" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM message
        WHERE 1=1
        <if test="username != null and username != ''">
            AND user_id IN (
            SELECT user_id FROM user WHERE username LIKE CONCAT('%', #{username}, '%')
            )
        </if>
        <if test="createTime != null and createTime.size() == 2">
            AND create_time BETWEEN CONCAT(#{createTime[0]}, ' 00:00:00')
            AND CONCAT(#{createTime[1]}, ' 23:59:59')
        </if>
        AND reply_id IS NULL
        ORDER BY create_time DESC
    </select>

    <select id="selectRepliesByMessageId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM message
        WHERE reply_id = #{messageId}
        ORDER BY create_time DESC
    </select>
</mapper>
