<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyr.busticketsystemdemo.dao.mapper.OrderTableMapper">

    <resultMap id="BaseResultMap" type="com.lyr.busticketsystemdemo.domain.OrderTable">
            <id property="orderId" column="order_id" />
            <result property="userId" column="user_id" />
            <result property="routeId" column="route_id" />
            <result property="orderStatus" column="order_status" />
            <result property="createTime" column="create_time" />
            <result property="paymentTime" column="payment_time" />
    </resultMap>

    <sql id="Base_Column_List">
        order_id,user_id,route_id,order_status,create_time,payment_time
    </sql>

    <select id="searchOrders" resultType="com.lyr.busticketsystemdemo.model.vo.OrderSearchVO">
        SELECT o.order_id, o.user_id, u.username, o.route_id, r.route_name, o.order_status,
        o.create_time, o.payment_time
        FROM order_table o
        LEFT JOIN user u ON o.user_id = u.user_id
        LEFT JOIN bus_route r ON o.route_id = r.route_id
        WHERE 1=1
        <if test="orderStatus != null and orderStatus != ''">
            AND o.order_status = #{orderStatus}
        </if>
        <if test="username != null and username != ''">
            AND u.username LIKE CONCAT('%', #{username}, '%')
        </if>
        <if test="createTime != null and createTime.size() == 2">
            AND o.create_time BETWEEN CONCAT(#{createTime[0]}, ' 00:00:00')
            AND CONCAT(#{createTime[1]}, ' 23:59:59')
        </if>
        ORDER BY o.create_time DESC
    </select>

    <select id="searchOrderById" resultType="com.lyr.busticketsystemdemo.model.vo.OrderSearchVO">
        SELECT o.order_id, o.user_id, u.username, o.route_id, r.route_name, o.order_status,
               o.create_time, o.payment_time
        FROM order_table o
                 LEFT JOIN user u ON o.user_id = u.user_id
                 LEFT JOIN bus_route r ON o.route_id = r.route_id
        WHERE o.order_id = #{orderId}
    </select>
</mapper>
