<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyr.busticketsystemdemo.dao.mapper.OrderDetailsMapper">

    <resultMap id="BaseResultMap" type="com.lyr.busticketsystemdemo.domain.OrderDetails">
            <id property="detailId" column="detail_id" />
            <result property="orderId" column="order_id" />
            <result property="passengerName" column="passenger_name" />
            <result property="seatNumber" column="seat_number" />
    </resultMap>

    <sql id="Base_Column_List">
        detail_id,order_id,passenger_name,seat_number
    </sql>

    <select id="selectOccupiedSeatsByRouteId" resultType="string">
        SELECT seat_number
        FROM order_details
        WHERE order_id IN (
            SELECT order_id
            FROM order_table
            WHERE route_id = #{busRouteId}
        )
    </select>

</mapper>
